.panel .table > thead > tr > th:first-child {
    padding-left: 0;
}

table {
    table-layout: fixed;
}

tr > th, td {
    vertical-align: middle;
    text-align: center;
    width: 200px;
}

.checkbox {
    width: 50px;
    padding: 10px;
}

.col-md-6 {
    width: auto;
}

.input-group-addon, .input-group-btn {
    width: 100px;
}
