<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <style>
        table {
            width: 100%;
            border: 1px solid #444444;
            text-align: center;
        }
        th, td {
            border: 1px solid #444444;
        }
    </style>
</head>
<body>
<table>
    <thead>
    <tr>
        <th>구분</th>
        <th>사번</th>
        <th>학번</th>
        <th>군번</th>
        <th>자기군번</th>
        <th>단과대학</th>
        <th>학과</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="list : ${data}">
        <td><span th:text="${list.category}"></span></td>
        <td><span th:text="${list.employeeId}"></span></td>
        <td><span th:text="${list.schoolId}"></span></td>
        <td><span th:text="${list.serviceNum}"></span></td>
        <td><span th:text="${list.selfServiceNum}"></span></td>
        <td><span th:text="${list.college}"></span></td>
        <td><span th:text="${list.major}"></span></td>
    </tr>
    </tbody>
</table>
</body>
</html>